process {
    withName: /.*babel_train_process/ {
        container = '/linuxhome/tmp/michiel/nxf_singularity_cache/ghcr.io-openproblems-bio-task_predict_modality-methods-babel_train-build_main.img'
    }
    withName: /.*babel_predict_process/ {
        container = '/linuxhome/tmp/michiel/nxf_singularity_cache/ghcr.io-openproblems-bio-task_predict_modality-methods-babel_predict-build_main.img'
    }
    withName: /.*correlation_process/ {
        container = '/linuxhome/tmp/michiel/nxf_singularity_cache/ghcr.io-openproblems-bio-task_predict_modality-metrics-correlation-build_main.img'
    }
    withName: /.*mse_process/ {
        container = '/linuxhome/tmp/michiel/nxf_singularity_cache/ghcr.io-openproblems-bio-task_predict_modality-metrics-mse-build_main.img'
    }
}
